<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Progresso Diário</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Formulário de Progresso Diário</h1>
        <h4>Por favor, preencha o formulário abaixo:</h4>
        <form action="/submit" method="POST">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" maxlength="11" required>
            
            <label for="data">Data:</label>
            <input type="date" id="data" name="data" required>
            
            <label for="horas">Quantas horas você trabalhou hoje?</label>
            <input type="number" id="horas" name="horas" required>
            
            <label for="bugs">Quantos bugs você corrigiu hoje?</label>
            <input type="number" id="bugs" name="bugs" required>
            
            <label for="tarefas">Quantas tarefas você concluiu hoje?</label>
            <input type="number" id="tarefas" name="tarefas" required>
            
            <input type="submit" value="Enviar">
        </form>
    </div>
    <div class="image-container">
        <img src="/static/images/image.svg" alt="Ilustração">
    </div>
</body>
</html>
